<div class="col-12">
<footer>
	<p><form action="https://buttondown.email/api/emails/embed-subscribe/oykun" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/oykun', 'popupwindow')" class="embeddable-buttondown-form">
		<input type="email" name="email" id="bd-email" placeholder="Lessons, experiments and updates..." size="50%">
		<input type="hidden" value="1" name="embed">
		<input type="submit" value="Subscribe" class="submit">
	</form></p>

	<nav>
		©2021
		<a href="https://twitter.com/oykun">Twitter</a>
		<a href="https://instagram.com/oykun">Instagram</a>
		<a href="mailto:oykun.yilmaz@gmail.com">Email</a>
	</nav>

</footer>
</div>