<footer class="max-width">
	<form action="https://buttondown.email/api/emails/embed-subscribe/oykun" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/oykun', 'popupwindow')" class="embeddable-buttondown-form">

		<input type="email" name="email" id="bd-email" class="w-100" placeholder="Your email for lessons, experiments and updates...">
	
		<div class="flex justify-between items-center flex-wrap mt2">
			<input type="submit" value="→ Subscribe" class="submit w-20-l">
			<div class="tr-l w-80-l">
				<a href="https://twitter.com/oykun" title="@oykun">Twitter</a>
				<a href="https://instagram.com/oykun" title="@oykun">Instagram</a>
				<a href="mailto:hello@oykun.com" title="hello@oykun.com">Email</a>
				<a href="https://oykun.com/feed.xml">RSS</a>
				© 2021
			</div>
		</div>

		<input type="hidden" value="1" name="embed">
	</form>

	<p class="text-grey tc text-small mt4 i">This website is under construction. I'm building it publicly while writing blog articles.</p>
</footer>