<div class="col-12">
<footer>
	<form action="https://buttondown.email/api/emails/embed-subscribe/oykun" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/oykun', 'popupwindow')" class="embeddable-buttondown-form">
		<input type="email" name="email" id="bd-email" placeholder="Lessons, experiments and updates..." size="50%">
		<input type="submit" value="Subscribe" class="submit">
		<input type="hidden" value="1" name="embed">
	</form>

	<nav>
		<a href="https://twitter.com/oykun" title="@oykun">Twitter</a>
		<a href="https://instagram.com/oykun" title="@oykun">Instagram</a>
		<a href="mailto:hello@oykun.com" title="hello@oykun.com">Email</a>
		<a href="https://oykun.com/feed.xml">RSS</a>
	</nav>
</footer>
</div>