<ul class="list pa0 ma0">
	<li><a href="{{ site.url }}" title="Oykun, Blog">Writings</a></li>
	<li><a href="https://crucial.design" title="Crucial Design" target="_blank">Designs</a></li>
	<li><a href="/tools" title="Tools I use">Tools</a></li>
	<li><a href="/books" title="Books">Books</a></li>
	<li><a href="/quotes" title="Quotes">Quotes</a></li>
	<li><a href="/bio" title="Oykun, About">Bio</a></li>
	<li><a href="/subscribe" title="Subscribe for lessons, experiments and updates...">Newsletter</a></li>
	<li><a href="/contact" title="hello@oykun.com" class="mr2">Contact</a></li>
	<li>-</li>
	<li><a href="https://designermindset.net" title="Designer Mindset Community" target="_blank" class="mr2">DesignerMindset</a></li>
	<li><a href="https://x.com/oykun" title="@oykun" target="_blank">X</a></li>
	<li><a href="https://oykun.com/feed.xml" class="mr2">RSS</a></li>
</ul>