<div id="sidebar" class="text-smaller">
    
    <div class="w-80">
        <a href="https://www.instagram.com/oykun/" target="_blank"><img src="/assets/instagram_oykun.jpeg" alt="@oykun"></a>
        <p>Sharing visuals of what I'm up to at my <a href="https://www.instagram.com/oykun/" target="_blank">@oykun Instagram</a>.</p>   
    </div>  

    <div class="w-80 pt5">
        <a href="https://www.getrevue.co/profile/oykun/" target="_blank"><img src="/assets/oykun_newsletter.png" alt="@oykun"></a>
        <p class="mb1">Join the £1k+ readers who get my learnings, experiments and interesting links delivered to their inboxes.</p>
        <form action="https://www.getrevue.co/profile/oykun/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
            <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email" class="w-100 pa1 mb1">
            <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="w-100">
        </form>
    </div>
</div>