---
layout: default
---

<div class="flex flex-wrap justify-between">
    <div class="w-40-l mt4">
        <h1 class="post-title col-10">{{ page.title }}</h1>
        <p class="text-grey">{{ page.date | date: "%B %-d, %Y" }}</p>
    </div>

    <div class="w-50-l">
        <div class="post-content">
            <img src="{{ page.image }}" class="max-width">
            {{ content }}
        </div>
    </div>  
</div>

<div class="max-width pt3">
    <p class="mb4 pt3">-</p>
    {% include share-buttons.html %}

    <p>Reach out to me on <a href="https://twitter.com/oykun">Twitter @oykun</a> or via <a href="mailto:hello@oykun.com">email</a> if you have any questions.</p>
</div>